* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: #dcc2ec;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6rem;
    margin-right: 6rem;
}

#invoice {
    font-size: xx-large;
}

.myschool {
    background: #ff0000;

}

.myteacher {
    background: rgb(251, 251, 246);
    text-align: center;
    color: blue;
}

.room {
    width: 12rem;
    height: 12rem;
    background: red;
    box-shadow: 5px 13px 15px #00ff7b;
}

.btn {
    font-size: xx-large;
    width: 12rem;
    height: 6rem;
    border: #00ff7b;
    border-radius: 6px;
    background: blueviolet;
    color: antiquewhite;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
}

.btn:hover {
    background-color: #2980b9;
    width: 11rem;
    height: 5rem;
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
table, th, td {
  border: 1px solid black;    /* Adds a solid border to all elements */
  border-collapse: collapse;  /* Merges double borders into a single clean line */
  padding: 10px;              /* Adds breathing room inside each cell */
}
.table{
    display: flex;
    align-items: center;
    justify-content: center;
}
