*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: #dcc2ec;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.subheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6rem;
    margin-right: 6rem;
}
#invoice{
    font-size: xx-large;
}